
<form method="post" action="/shoData">

  <label for='init_val'> Initial Value</label>
  <input type="text" name="init_val">

  <label for='intR'> Interest Rate</label>
  <input type="number" step="any" name="intR">

  <label for='yearC'> Compounds Per Year</label>
  <input type="text" name="yearC">

  <label for='years'> Amount of Years</label>
  <input type="text" name="years">

  <button type="submit">Compound</button>
</form>



<segment>
  <FORM>
    <INPUT TYPE="button" onClick="history.go(0)" VALUE="Reload">
  </FORM>
</segment>
