<div>hello</div>
<button>hello</button>

<form method="post">

  <label for='uername'> Enter Username</label>
  <input type="text" name="uername">

  <label for='password'> Enter Password</label>
  <input type="text" name="password">

  <button type="submit">Login</button>
</form>
<a href="localhost:8080/enterData"><button>enterData</button></a>

<a href="localhost:8080/enterData">enterData</a>

<segment>
  <FORM>
    <INPUT TYPE="button" onClick="history.go(0)" VALUE="חדש">
  </FORM>
</segment>
