{% extends "base.html" %}

{% block content %}

<!-- <div>hello</div>
<button>hello</button> -->

<!-- <form method="post">

  <label for='uername'> Enter Username</label>
  <input type="text" name="uername">

  <label for='password'> Enter Password</label>
  <input type="text" name="password">

  <button type="submit">Login</button>
</form> -->
<br/>
<br/>
<br/>
<br/>
<br/>
<center><a href="/enterData"><button>Find Compound Interest</button></a></center>
<br/>
<center><a href="/contEnterData"><button>Find Continuous Compound Interest</button></a></center>
<br/>
<br/>
<center><a href="/allData"><button>View All Values</button></a></center>

<!-- <segment> -->

    <INPUT TYPE="button" onClick="history.go(0)" VALUE="Reload">

{%endblock%}




<div class="sidenav">
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
</div>

<div class="main">
  <h2>Sidebar</h2>
  <p>This sidebar is of full height (100%) and always shown.</p>
  <p>Scroll down the page to see the result.</p>
  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
</div>
